[submodule "waymakers-frontend"]
	path = waymakers-frontend
	url = https://github.com/ctc-uci/waymakers-frontend
[submodule "waymakers-backend"]
	path = waymakers-backend
	url = https://github.com/ctc-uci/waymakers-backend
